@import 'styles/reset';

$primary: #607D8B;

body {
  font-family: sans-serif;
}

main {
  max-width: 60rem;
  margin: 2rem auto;
}

section {
  margin-bottom: 3rem;
}

.chart {
  .bar {
    fill: $primary;
  }
  .xaxis path, .yaxis path, .xaxis line, .yaxis line {
    stroke: #888 !important;
  }

  .line {
    fill: none;
    stroke: $primary
  }
}
