@import 'styles/reset';

$primary: #607D8B;

body {
  font-family: sans-serif;
}

main {
  max-width: 60rem;
  margin: 2rem auto;
}

section {
  margin-bottom: 3rem;
}

h1 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.chart {
  .bar {
    fill: $primary;
  }

  .xaxis path, .yaxis path, .xaxis line, .yaxis line {
    stroke: #888;
  }

  .line {
    fill: none;
    stroke: $primary
  }

  .xgrid, .ygrid {
    path {
      display: none;
    }
    line {
      stroke: #ccc;
      stroke-dasharray: 8,4;
    }
  }
}
